@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";


//photo
.photo {
  position: absolute;
  width: 17vw !important;
  left: 0px !important;
  bottom: 0px !important;
  min-width: 120px !important;
  border-radius: 7px;
  //border-radius: 50%;
}

.title {
  text-shadow: 0px 0px 3px lightskyblue;
  color: #3d4053 !important;
  font-size: 1.6rem !important;
}

.shadow {
  text-shadow: 0px 0px 3px lightskyblue;
  color: #3d4053 !important;
  font-size: 1.15rem !important;
}

@include media-breakpoint-only(xs) {
  .photo {
    border: 2px solid white;
  }

  //.title {
  //  font-size: 32px !important;
  //}
}

@include media-breakpoint-between(sm, md) {
  .photo {
    border: 3px solid white;
  }
  //.title {
  //  font-size: 26px !important;
  //}
}

@include media-breakpoint-between(lg, xl) {
  .photo {
    border: 4px solid white;
  }
  //.title {
  //  font-size: 32px !important;
  //}
}

.bgImageContainer {
  display: block;
  width: 100%;
  overflow-y: hidden;
  height: 47vw !important;
  max-height: 450px;
  position: relative;
  img {
    width: 100%;
  }
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headlineBox {
  height: 124px;
  display: flex;
  flex-direction: column;
  vertical-align: center;
  justify-content: center;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
