@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

@include media-breakpoint-between(xs, md) {
  .fontsSize {
    font-size: 1.2rem !important;
  }
}

@include media-breakpoint-between(lg, xl) {
  .fontsSize {
    font-size: 1.1rem !important;
  }
}

.companyIcon {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  img {
    width: 100%;
    max-width: 110px;
  }
}

@include media-breakpoint-only(xs) {
  .detailSection {
    width: 100%;
  }
}

@include media-breakpoint-between(sm, md) {
  .detailSection {
    width: 550px;
  }
}

@include media-breakpoint-only(lg) {
  .detailSection {
    width: 700px;
  }
}

@include media-breakpoint-only(xl) {
  .detailSection {
    width: 800px;
  }
}

.listStyle {
  list-style: square;
}

.myCardHeader {
  height: 54px;
  display: flex;
  justify-content: center;
}

@include media-breakpoint-between(xs, md) {
  .cardBody {
    padding: 18px 24px 6px 24px !important;
  }
}

@include media-breakpoint-between(lg, xl) {
  .cardBody {
    padding: 22px 32px 10px 32px !important;
  }
}

.textShadow {
  text-shadow: 1px 1px 3px silver;
}

.gray {
  color: gray !important;
}

.lighterHr {
  //background-color: #f1f1f1;
}

.cardBody li {
  hyphens: auto;
}

.mapsCardBody {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px !important;
}
