@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

// media query area
//@include media-breakpoint-between(xs, md) {
//  .fontsSize {
//    font-size: 1.2rem !important;
//  }
//}
//@include media-breakpoint-between(lg, xl) {
//  .fontsSize {
//    font-size: 1.1rem !important;
//  }
//}
@include media-breakpoint-between(xs, md) {
  .cardBody {
    padding: 18px 24px 6px 24px !important;
  }
}
@include media-breakpoint-between(lg, xl) {
  .cardBody {
    padding: 22px 32px 10px 32px !important;
  }
}

@include media-breakpoint-only(lg) {
  .detailSection {
    width: 700px;
  }
}
@include media-breakpoint-between(sm, md) {
  .detailSection {
    width: 550px;
  }
}


.edHolder {
  display: grid;
  grid-template: min-content min-content / 1.3fr 3fr;
  grid-template-areas:
    "icon summary"
    "details details";
  .companyIcon {
    grid-area: icon;
    justify-content: center;
    place-items: center;
    display: flex;
    margin: 0px 15px 10px 7px;
    img {
      width: 100%;
      min-width: 65px;
      max-width: 95px;
    }
  }
  .summary {
    grid-area: summary;
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 1rem;
  }
  .details {
    grid-area: details;
    font-size: 1rem;
  }
}


@include media-breakpoint-only(xl) {
  .detailSection {
    width: 800px;
  }
  .edHolder {
    grid-template: min-content min-content / 100px auto !important;
    grid-template-areas:
    "icon summary"
    "details details" !important;
  }
}
@media screen {

}



.listStyle {
  list-style: square;
}

.myCardHeader {
  height: 54px;
  display: flex;
  justify-content: center;
}

.textShadow {
  text-shadow: 1px 1px 3px silver;
}

.gray {
  color: gray !important;
}

.lighterHr {
  //background-color: #f1f1f1;
}

.cardBody li {
  hyphens: auto;
}

.mapsCardBody {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px !important;
}


