html {
  font-size: 15px;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-family: Roboto, sans-serif;
  background-image: url("images/bg-1.jpeg");
}




